body{
  font-family: Arial;
  margin:0;
  background:#0f172a;
  color:white;
}

header{
  text-align:center;
  padding:15px;
  background:#111827;
}

/* DASHBOARD */
.dashboard{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;
  padding:10px;
}

.box{
  background:#1f2937;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

/* ACTIONS */
.actions{
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:10px;
}

input,button{
  padding:10px;
  border:none;
  border-radius:8px;
}

button{
  background:#2563eb;
  color:white;
}

/* SEARCH */
.search{
  display:flex;
  gap:10px;
  padding:10px;
}

/* SCANNER */
.scanner{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  z-index:999;
}

.hidden{display:none;}

/* EDIT */
.modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}

.modal .box{
  background:white;
  color:black;
  margin:50px auto;
  width:90%;
  max-width:400px;
  display:flex;
  flex-direction:column;
  gap:10px;
}
